app-header{
    width: 100%;
    height: 4rem !important;
    position: fixed;
    top: 0; 
    left: 0;
    background-color: rgb(228, 225, 225) !important;
}
app-side-nav{
    position: absolute;
    top: 4rem;
    left: 0;
    border-top-color: white;
    width: 48px;
    overflow-x: hidden;
    background-color: rgb(233, 233, 233);
    height: calc(100% - 4rem);
    overflow-y: scroll;
    white-space: nowrap;
    transition: all 150ms ease-in;
}
::-webkit-scrollbar{
    display: none;
}
.sidewidth{
    width: 250px;
}
app-content{
    width: calc(100%-250px);
    height: calc(100%-4rem);
    position: absolute;
    top: 4rem;
    left: 250px;
}